<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb shape demo</title>

    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"> </script>
    <link rel="import" href="../existdb-fabric-canvas.html"/>
    <style>
        body {
            height: 100%;
            padding: 0;
            margin: 0;
            display: block;
            font-size:20px;
        }
        h2{
            color:blue;
        }
    </style>
</head>
<body>

    <h2>Fabric Canvas</h2>
    <existdb-fabric-canvas id="fabric">
        <canvas id="c"></canvas>
    </existdb-fabric-canvas>
</body>
</html>
