<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb shape demo</title>

    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!--<link rel="import" href="../existdb-image-annotator.html"/>-->
    <!--<link rel="import" href="../../bower_components/existdb-image-viewer/image-viewer.html"/>-->
    <link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html"/>
    <link rel="import" href="../../bower_components/iron-icon/iron-icon.html"/>
    <link rel="import" href="../../bower_components/iron-icons/iron-icons.html"/>
    <link rel="import" href="../existdb-image-annotator.html"/>
    <style>
        body {
            height: 100%;
            padding: 0;
            margin: 0;
            display: block;
            font-size: 20px;
        }

        h2 {
            color: blue;
        }
/*
        #fabric{
            background:lightBlue;
            opacity:0.7;
        }
*/
    </style>
</head>
<body>

<!--
    <image-viewer id="viewer"
                  class="viewer"
                  dzi="true"
                  show-zoom-control="false"
                  show-home-control="false"
                  show-full-page-control="true"
                  src="../../bower_components/img-pan-zoom/demo/images/output.dzi">
    </image-viewer>
-->

        <existdb-image-annotator id="viewer"
                                 class="viewer"
                                 dzi="true"
                                 show-zoom-control="show-zoom-control"
                                 show-home-control="false"
                                 show-full-page-control="true"
                                 src="../../bower_components/img-pan-zoom/demo/images/output.dzi">

        </existdb-image-annotator>
</body>
</html>
