<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="existdb-image-annotator.html">
<link rel="import" href="existdb-annotation-list.html">

<dom-module id="ecpo-app">
    <template>
        <app-drawer-layout>
            <app-drawer slot="drawer" opened>
                <existdb-annotation-list id="annotationlist" source="{{document}}"
                    on-annotations-loaded="drawLoadedAnnotations"
                    on-highlight-target="highlightTarget"></existdb-annotation-list>
            </app-drawer>

            <existdb-image-annotator id="viewer" class="viewer" dzi="true"
                                        show-zoom-control="show-zoom-control"
                                        show-home-control="false"
                                        show-full-page-control="true"
                                        on-shape-created="handleShapeEvent" 
                                        on-shape-deleted="handleShapeEvent" 
                                        on-shape-changed="handleShapeEvent"
                                        src="{{document}}">
            </existdb-image-annotator>
            <slot></slot>
        </app-drawer-layout>
    </template>
        
    <script>
        /**
         * `ecpo-app`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class EcpoApp extends Polymer.Element {
            static get is() {
                return 'ecpo-app';
            }

            static get properties() {
                return {
                    document: {
                        type: String,
                        value: "../../bower_components/img-pan-zoom/demo/images/output.dzi"
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

            handleShapeEvent (e) {
                this.$.annotationlist.handle(e)
            }

            highlightTarget (e) {
                this.$.viewer.highlight(e.detail.id)
            }
            
            drawLoadedAnnotations (e) {
                const annotations = e.detail
                const shapes = annotations
                    .map(annotation => annotation.target)
                    .reduce((result, array) => result.concat(array))
                    .map(target => target.selector.value)

                setTimeout(() => {
                    console.log('addshapes', this.$.viewer, shapes)
                    this.$.viewer.addShapes(shapes)
                }, 1000);
            }
        }

        window.customElements.define(EcpoApp.is, EcpoApp);
    </script>
</dom-module>
