<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="existdb-image-annotator.html">
<link rel="import" href="existdb-annotation-list.html">

<dom-module id="ecpo-app">
    <style>
        :host {
            @apply(--paper-font-common-base);
            --app-drawer-width: 256px;

        }

        app-drawer {
            text-align: left;
            border-left: thin solid var(--paper-grey-300);
            padding: 10px;
        }

        .logout{
            float: right;
        }
    </style>
    <template>
        <app-drawer-layout fullbleed>
            <app-drawer id="drawer" slot="drawer" opened align="end">
                <existdb-annotation-list id="annotationlist" source="{{document}}"
                    on-annotations-loaded="drawLoadedAnnotations"
                    on-highlight-target="highlightTarget"
                    on-label-selected="handleLabelSelected"></existdb-annotation-list>
            </app-drawer>

            <existdb-image-annotator id="viewer" class="viewer"
                                        show-zoom-control="show-zoom-control"
                                        show-home-control="false"
                                        show-full-page-control="true"
                                        show-navigator="true"
                                        on-shape-created="handleShapeEvent" 
                                        on-shape-deleted="handleShapeEvent" 
                                        on-shape-changed="handleShapeEvent"
                                        on-shape-selected="handleShapeEvent"
                                        src="{{document}}">

                    <a class="logout" href="logout" slot="logout" title="logout">
                        <paper-icon-button icon="logout" title="logout"></paper-icon-button>
                    </a>
            </existdb-image-annotator>
        </app-drawer-layout>
    </template>
        
    <script>
        /**
         * `ecpo-app`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class EcpoApp extends Polymer.Element {
            static get is() {
                return 'ecpo-app';
            }

            static get properties() {
                return {
                    document: {
                        type: String,
                        value: "",
                        // observer: "_addImage"
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

            handleShapeEvent (e) {
                this.$.annotationlist.handle(e)
            }

            highlightTarget (e) {
                this.$.viewer.highlight(e.detail.id)
            }

            drawLoadedAnnotations (e) {
                const annotations = e.detail
                // TODO listen for init event
                console.log('drawLoadedAnnotations', annotations)
                setTimeout(() => { this.$.viewer.addShapesFromAnnotations(annotations) }, 150);
            }

            handleLabelSelected (e) {
                this.$.viewer.changeSelectedShapes({data: e.detail})
            }

            // _addImage (oldVal, newVal) {
            //     if (!newVal || oldVal == newVal) { return }
            //     this.$.viewer.src(newVal)
            //     this.$.viewer.initialize()
            // }
        }

        window.customElements.define(EcpoApp.is, EcpoApp);
    </script>
</dom-module>
