<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="existdb-image-annotator.html">
<link rel="import" href="existdb-annotation-list.html">

<dom-module id="ecpo-app">
    <template>
        <style>
            :host {
                @apply --paper-font-common-base;
                --app-drawer-width: 256px;
            }

            app-drawer {
                text-align: left;
                border-left: thin solid var(--paper-grey-300);
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
            }

            .logout {
                float: right;
            }

            #annotationlist {
                height: 400px;
            }

            #navigator {
                position: relative;
                display:block;
                height: 200px;
                width: 100%; 
            }

        </style>

        <app-drawer-layout>
            <app-drawer id="drawer" slot="drawer" opened align="end">
                <div class="wrapper">
                    <slot id="navigator"></slot>
                    <existdb-annotation-list id="annotationlist" source="{{document}}"
                                             on-annotations-loaded="setAnnotationsLoaded"
                                             on-annotations-reload="resetAnnotationsLoaded"
                                             on-highlight-target="highlightTarget"
                                             on-label-selected="handleLabelSelected"></existdb-annotation-list>
                </div>
            </app-drawer>

            <existdb-image-annotator id="annotator"
                                        show-zoom-control="show-zoom-control"
                                        show-home-control="false"
                                        show-full-page-control="true"
                                        show-navigator="true"
                                        on-shape-created="handleShapeEvent" 
                                        on-shape-changed="handleShapeEvent"
                                        on-shape-deleted="handleShapeEvent" 
                                        on-shape-selected="handleShapeEvent"
                                        on-group-created="handleShapeEvent" 
                                        on-group-changed="handleShapeEvent"
                                        on-group-deleted="handleShapeEvent"
                                        on-annotator-initialized="setAnnotatorInitialized"
                                        src="{{document}}">
            </existdb-image-annotator>
        </app-drawer-layout>
        <paper-toast id="messages" duration="4000"></paper-toast>

    </template>
        
    <script>
        /**
         * `ecpo-app` is the main entry point of the application and provides a basic drawer layout and hosts
         * the `existdb-image-annotor` component.
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class EcpoApp extends Polymer.Element {
            static get is() {
                return 'ecpo-app';
            }

            static get properties() {
                return {
                    document: {
                        type: String,
                        value: "",
                        // observer: "_addImage"
                    },
                    annotatorInitialized: {
                        type: Boolean,
                        value: false
                    },
                    annotationsLoaded: {
                        type: Boolean,
                        value: false
                    }
                };
            }
 
            static get observers() {
                return [
                    // Observer method name, followed by a list of dependencies, in parenthesis
                    'drawLoadedAnnotations(annotatorInitialized, annotationsLoaded)'
                ]
            }
            ready () {
                super.ready();
                let n = document.createElement('div')
                n.id = 'navigatorDiv'
                this.$.navigator.appendChild(n)

                this.addEventListener('show-message', this._showMessage);
            }

            _showMessage(e){
                this.$.messages.text = e.detail.message;
                this.$.messages.open();
            }

            handleShapeEvent (e) {
                this.$.annotationlist.handle(e)
            }

            highlightTarget (e) {
                this.$.annotator.highlight(e.detail.id)
            }

            /**
             * Import and draw loaded annotations
             * after the annotator is initialized
             * and the list of annotations is loaded 
             */
            drawLoadedAnnotations (annotatorInitialized, annotationsLoaded) {
                if (!(annotatorInitialized && annotationsLoaded)) { return }

                const annotations = this.$.annotationlist.annotations
                this.$.annotator.addShapesFromAnnotations(annotations)
            }

            /**
             * whenever the label selection changes the associated shape will be highlighted.
             * @param e
             */
            handleLabelSelected (e) {
                this.$.annotator.changeSelectedShapes({data: e.detail})
            }

            setAnnotatorInitialized (e) {
                this.annotatorInitialized = true
            }

            resetAnnotationsLoaded (e) {
                this.$.annotator.clear()
                this.annotationsLoaded = false
            }

            setAnnotationsLoaded (e) {
                this.annotationsLoaded = true
            }

            _attachDom(dom) {
                this.appendChild(dom);
            }
        }

        window.customElements.define(EcpoApp.is, EcpoApp);
    </script>
</dom-module>
