<link rel="import" href="../bower_components/polymer/polymer-element.html">

<script type="text/javascript" src="../bower_components/fabric.js/dist/fabric.js"></script>

<dom-module id="existdb-fabric-rect">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }

            ::slotted(div.canvas-container) {
                width: 100%;
                height: 100%;
                border: steelblue thin solid;
            }

        </style>

        <button on-click="createShape">add rect</button>
        <slot></slot>
    </template>

    <script>
        /**
         * `existdb-fabric-rect`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ExistdbFabricRect extends Polymer.Element {
            static get is() {
                return 'existdb-fabric-rect';
            }

            static get properties() {
                return {
                    rect:{
                        type: Object
                    },
                    rotation:{
                        type:String,
                        observer:'_handleRotation',
                        reflectToAttribute:true
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                console.log(this, 'connectedCallback');

                //strange: seems this log needs to be called to make getBoundingClientRect work
                console.log('offsetWidth ', this.offsetWidth);

                this.canvas = new fabric.Canvas('c');
                console.log('canvas ', this.canvas);

                //make the canvas same size as surrounding element 'existdb-fabric-rect'
                console.log('offsetWidth ', this.getBoundingClientRect().width);
                console.log('offsetHeight ', this.getBoundingClientRect().height);
                this.canvas.setHeight(this.getBoundingClientRect().height);
                this.canvas.setWidth(this.offsetWidth);
                this.canvas.renderAll();


                this.canvas.on({
                    'object:scaling': this._scaling
                });
            }

            ready() {
                super.ready();
            }

            createShape(){
                this.rect = new fabric.Rect({
                    left: 10,
                    top: 10,
                    fill: 'transparent',
                    stroke:'blue',
                    strokeWidth:2,
                    width: 100,
                    height: 100,
                    opacity:0.5,
                    data:'a rectangle'
                });

                console.log('rect ', this.rect);

                this.canvas.add(this.rect);
                this.canvas.renderAll();
            }

            _logShapes(e){
                console.log('_logShapes ', e);
                console.log('_logShapes canvas ', this.canvas);
                console.log('_logShapes canvas ', JSON.stringify(this.canvas));
                console.log("_logShapes getWith", this.rectA.get('width'));


                this.rotation = this.rectA.get('angle');

                this.rectA.set({
                    height:this.rectA.get('height'),
                    width:this.rectA.get('width') * this.rectA.get('scaleX'),
                    scaleX:1,
                    scaleY:1,
                    strokeWidth:2,
                    data:'just a test'

                });
                this.canvas.renderAll();
                console.log('all objects ', this.canvas.getObjects());

                console.log('_logShapes canvas ', JSON.stringify(this.canvas));
                console.log('_logShapes canvas ', this.canvas.toJSON('data'));

            }
            _scaling(){
                console.log('scaling...');
            }


            _handleRotation(newValue, oldValue){
                console.log('_handleRotation ', newValue);

                this.rectA.set('angle',newValue);
            }

        }

        window.customElements.define(ExistdbFabricRect.is, ExistdbFabricRect);
    </script>
</dom-module>
