<link rel="import" href="../bower_components/polymer/polymer-element.html">

<script type="text/javascript" src="../bower_components/fabric.js/dist/fabric.js"></script>

<dom-module id="existdb-fabric-canvas">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }

            ::slotted(div.canvas-container) {
                position: absolute;
                left:0;
                top:0;
                width: 100vw;
                height: 100vh;
                border: steelblue thin solid;
            }
/*
            .buttons{
                position: absolute;
                top:-30px;
            }
*/
        </style>

        <div class="buttons">
            <button on-click="_logShapes">debug</button>
            <button on-click="_createRect">add rect</button>
            <button on-click="_createCircle">add circle</button>
            <button on-click="_createPolygon">add polygon</button>
            <button on-click="_removeShape">remove shape</button>
        </div>
        <slot name="annotationDialog"></slot>
        <slot></slot>
    </template>

    <script>
        /**
         * `existdb-fabric-canvas`
         *
         * a canvas that allows interactive drawing of rectangles, circles and polygons.
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ExistdbFabricCanvas extends Polymer.Element {
            static get is() {
                return 'existdb-fabric-canvas';
            }

            static get properties() {
                return {
                    selectedShape: {
                        type: Object
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

//                console.log(this, 'connectedCallback');
//                console.log('offsetWidth ', this.offsetWidth);
//                console.log('offsetWidth ', this.getBoundingClientRect());
                console.log('offsetWidth ', this.getBoundingClientRect().width);
                console.log('offsetHeight ', this.getBoundingClientRect().height);

                this.canvas = new fabric.Canvas('c');
                this.canvas.selectionColor = 'transparent';

                //make the canvas same size as surrounding element 'existdb-fabric-canvas'
                this.canvas.setHeight(this.getBoundingClientRect().height);
                this.canvas.setWidth(this.getBoundingClientRect().width);
                this.mode = null;
                this.min = 99;
                this.max = 999999;


                this.canvas.on('mouse:down', o => this._mouseDown(o));
                this.canvas.on('mouse:up', o => this._mouseUp(o));
                this.canvas.on('mouse:move', o => this._mouseMove(o));
//                this.canvas.on('object:selected', o => this._objectModified(o));
//                this.canvas.on('selected', o => this._rectSelected(o));



            }

            getCanvas() {
                return this.canvas;
            }

            ready() {
                super.ready();
            }

            _mouseDown(options) {
//                console.log('mouseDown', options);
//                console.log('isDown target', options.target);
//                console.log('isDown target.id', options.target.id);
                console.log('>>>>> mode ', this.mode);

                var pointer = this.canvas.getPointer(options.e);


                if(this.mode == 'rectangle'){
                    var rect = new fabric.Rect({
                        left: pointer.x,
                        top: pointer.y,
                        fill: 'transparent',
                        stroke: 'blue',
                        strokeWidth: 2,
                        hasBorders: false,
                        hasControls: false,
                        opacity: 0.5,
                        data: 'a rectangle'
                    });

                    this.canvas.add(rect);
                    this.canvas.setActiveObject(rect);
                    this.canvas.renderAll();
                    this.activeShape = rect;

                }else if (this.mode == 'circle'){
                    console.log('mode = circle');

                    var circle = new fabric.Circle({
                        left:pointer.x,
                        top:pointer.y,
                        fill:'transparent',
                        stroke:'blue',
                        strokeWidth:2,
                        hasBorders: false,
                        hasControls: false,
                        selectionBackgroundColor:'transparent'
                    });
                    this.canvas.add(circle);
                    this.canvas.setActiveObject(circle);
                    this.canvas.renderAll();
                    this.activeShape = circle;

                }else if(this.mode == 'polygon'){
                    this.line = null;
                    this.activeLine=null;

                    console.log('pointArray ', this.pointArray);

                    // if the target id is the same as the first one created
                    if(options.target && options.target.id == this.pointArray[0].id){
                        this._generatePolygon();
                    }
                    if(this.mode == 'polygon'){
                        this._addPoint(options);
                    }


                }

            }

            _mouseUp(options){
                console.log('mouseUp', options);
                console.log('mouseUp', options.target);
                if(this.mode == 'rectangle'){
                    this.activeShape.set('hasBorders', true);
                    this.activeShape.set('hasControls', true);
                    this.activeShape.setCoords();
                    this.mode = undefined;

                }else if(this.mode == 'circle'){
                    this.activeShape.set('hasBorders', true);
                    this.activeShape.set('hasControls', true);
                    this.activeShape.setCoords();
                    this.mode = undefined;
                }
            }

            _mouseMove(options) {
//                if (!this.isDown) return;
//                console.log('_mouseMove options', options);
//                console.log('isDown ', this.isDown);
//                console.log('mode ', this.mode);

                var pointer = this.canvas.getPointer(options.e);
//                    console.log('pointer ', pointer);

                if(this.mode == 'rectangle'){
//                    console.log('mode = rectangle ', this.activeShape);

                    if(this.activeShape){

//                        console.log('newWidth ',pointer.x - this.activeShape.get('left'));
//                        console.log('newHeight ', pointer.y - this.activeShape.get('top'));

                        this.activeShape.set('width', pointer.x - this.activeShape.get('left'));
                        this.activeShape.set('height', pointer.y - this.activeShape.get('top'));
                        this.canvas.renderAll();
                    }


                }else if (this.mode == 'circle'){

                    if(this.activeShape){
                        var posX=pointer.x;
                        var posY=pointer.y;
                        this.activeShape.set('radius',Math.abs((posX-this.activeShape.get('left'))));
                        this.canvas.renderAll();

                    }

                }else if(this.mode == 'polygon'){

                    if(this.activeLine && this.activeLine.class == "line"){
                        this.activeLine.set({ x2: pointer.x, y2: pointer.y });

                        var points = this.activeShape.get("points");
                        points[this.pointArray.length] = {
                            x:pointer.x,
                            y:pointer.y
                        }
                        this.activeShape.set({
                            points: points
                        });
                        this.canvas.renderAll();
                    }
                    this.canvas.renderAll();

                }

            }


            _objectModified(o) {
                console.log('_objectModified ', o);
                this.selected = o.e.target;
            }


            _removeShape(e) {
                console.log('_removeShape ', e);
                console.log('_removeShape ', this.canvas.getActiveObject());
                this.canvas.remove(this.canvas.getActiveObject());
                this.canvas.renderAll();
            }

            _logShapes(e) {
                console.log('_logShapes ', e);
                console.log('all objects ', this.canvas.getObjects());
                console.log('_logShapes canvas ', this.canvas.toJSON('data'));
            }

            _rectSelected(o) {
                console.log('_rectSelected ', o);
                console.log('_rectSelected canvas ', this.canvas);
                console.log('_rectSelected target', o.target);
                this.selectedShape = o.target;
                console.log('_rectSelected selected', this.canvas.getActiveObject());

            }

            _createRect(e) {
//                console.log('_createRect ',e);
                this.activeShape = false;
                this.mode = "rectangle"
            }

            _createCircle() {
                this.activeShape = false;
                this.mode = 'circle';
            }

            _createPolygon() {
//                console.log('_createPolygon');
                this.mode = 'polygon';
                this.pointArray = new Array();
                this.lineArray = new Array();
                this.activeShape = false;

            }


            _scaling() {
                console.log('scaling...');
            }


            _addPoint (options) {

                var random = Math.floor(Math.random() * (this.max - this.min + 1)) + this.min;
                var id = new Date().getTime() + random;
                var circle = new fabric.Circle({
                    radius: 5,
                    fill: '#ffffff',
                    stroke: '#333333',
                    strokeWidth: 0.5,
                    left: (options.e.layerX/this.canvas.getZoom()),
                    top: (options.e.layerY/this.canvas.getZoom()),
                    selectable: false,
                    hasBorders: false,
                    hasControls: false,
                    originX:'center',
                    originY:'center',
                    id:id,
                    objectCaching:false
                });
                if(this.pointArray.length == 0){
                    circle.set({
                        fill:'red'
                    })
                }
                var points = [(options.e.layerX/this.canvas.getZoom()),(options.e.layerY/this.canvas.getZoom()),(options.e.layerX/this.canvas.getZoom()),(options.e.layerY/this.canvas.getZoom())];
                this.line = new fabric.Line(points, {
                    strokeWidth: 2,
                    fill: '#999999',
                    stroke: '#999999',
                    class:'line',
                    originX:'center',
                    originY:'center',
                    selectable: false,
                    hasBorders: false,
                    hasControls: false,
                    evented: false,
                    objectCaching:false
                });
                if(this.activeShape){
                    var pos = this.canvas.getPointer(options.e);
                    var points = this.activeShape.get("points");
                    points.push({
                        x: pos.x,
                        y: pos.y
                    });
                    var polygon = new fabric.Polygon(points,{
                        stroke:'#333333',
                        strokeWidth:1,
                        fill: '#cccccc',
                        opacity: 0.3,
                        selectable: false,
                        hasBorders: false,
                        hasControls: false,
                        evented: false,
                        objectCaching:false
                    });
                    this.canvas.remove(this.activeShape);
                    this.canvas.add(polygon);
                    this.activeShape = polygon;
                    this.canvas.renderAll();
                }
                else{
                    var polyPoint = [{x:(options.e.layerX/this.canvas.getZoom()),y:(options.e.layerY/this.canvas.getZoom())}];
                    var polygon = new fabric.Polygon(polyPoint,{
                        stroke:'#333333',
                        strokeWidth:1,
                        fill: '#cccccc',
                        opacity: 0.3,
                        selectable: false,
                        hasBorders: false,
                        hasControls: false,
                        evented: false,
                        objectCaching:false
                    });
                    this.activeShape = polygon;
                    this.canvas.add(polygon);
                }
                this.activeLine = this.line;

                this.pointArray.push(circle);
                this.lineArray.push(this.line);

                this.canvas.add(this.line);
                this.canvas.add(circle);
                this.canvas.selection = false;
            }


            _generatePolygon(){
                console.log('_generatePolygon ', this);
                console.log('_generatePolygon pointArray', this.pointArray);
                var points = new Array();

                var that = this;
                this.pointArray.forEach( function(point) {
                    points.push({
                        x:point.left,
                        y:point.top
                    });
                    that.canvas.remove(point);

                });

                this.lineArray.forEach( function(line) {
                    that.canvas.remove(line);
                });

                this.canvas.remove(this.activeShape).remove(this.activeLine);
                var polygon = new fabric.Polygon(points,{
                    stroke:'blue',
                    strokeWidth:2,
                    fill: 'transparent',
                    opacity: 0.5,
                    hasBorders: true,
                    hasControls: true
                });
                this.canvas.add(polygon);

                console.log("polygon boundingbox: ", polygon.getBoundingRect());
                console.log("canvas active: ", this.canvas.getActiveObject());
                this.canvas.setActiveObject(polygon);


                this.activeLine = null;
                this.activeShape = null;
                this.mode = null;
                this.canvas.selection = true;

                this.pointArray = [];
                this.lineArray = [];
            }

        }

        window.customElements.define(ExistdbFabricCanvas.is, ExistdbFabricCanvas);
    </script>
</dom-module>
