<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/paper-styles/color.html">

<!--<link rel="import" href="bower_components/web-animations-js/web-animations.html">-->
<!--<link rel="import" href="image-loader.html">-->

<script src="../bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js"></script>
<script src="OpenseadragonFabricjsOverlay/openseadragon-fabricjs-overlay.js"></script>
<script src="../bower_components/fabric.js/dist/fabric.js"></script>
<!--<script src="../fabric.js/dist/fabric.min.js"></script>-->


<!--
`img-pan-zoom` Image pan zoom element

Images are preloaded by `img-loader` and a spinner is shown until loaded
Deep Zoom Images are supported

### Styling

Custom property | Description | Default
----------------|-------------|----------
`--img-pan-zoom-spinner` | Mixin applied to spinner |
`--img-pan-zoom-spinner-color` | Spinner color | `#2196F3`
`--img-pan-zoom-spinner-width` | Spinner width | `5px`

### Credits

<a href="https://openseadragon.github.io">openSeadragon</a>


@demo demo/index.html
-->

<dom-module id="existdb-image-annotator">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;

            }

            #viewer {
                /*position: relative;*/
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
            }

            paper-spinner-lite {
                opacity: 0;
                display: block;
                transition: opacity 700ms;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                height: 70px;
                width: 70px;
                --paper-spinner-color: var(--img-pan-zoom-spinner-color, #2196F3);
                --paper-spinner-stroke-width: var(--img-pan-zoom-spinner-width, 5px);
                @apply(--img-pan-zoom-spinner);
            }

            paper-spinner-lite[active] {
                opacity: 1;
            }

            [hidden] {
                display: none;
            }

            .toolbarDiv {
                background: blue;
                height: 40px;
            }

            .canvasDiv, #viewer, #viewer ::slotted(existdb-fabric-canvas) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .canvasDiv {
                z-index: -1;
            }

            .buttonBar {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 50;
                background: white;
                border-bottom: 1px solid;
            }

            .devider {
                width: 0px;
                border-right: thin solid var(--paper-grey-500);
                display: inline;
                margin: 0 8px;
            }
        </style>

        <!-- Only preload regular images -->
        <!--
                <template is="dom-if" if="[[!dzi]]">
                    <paper-spinner-lite hidden$="[[hideSpinner]]" active="[[loading]]"></paper-spinner-lite>
                    <image-loader loaded="{{loaded}}" loading="{{loading}}" src="[[src]]"></image-loader>
                </template>
        -->

        <!-- Openseadragon -->
        <!--<div id="toolbarDiv"></div>-->
        <div class="buttonBar">
            <paper-icon-button icon="zoom-in" title="zoom in"></paper-icon-button>
            <paper-icon-button icon="zoom-out" title="zoom out"></paper-icon-button>
            <paper-icon-button icon="home" title="home"></paper-icon-button>
            <paper-icon-button icon="fullscreen" title="fullscreen"></paper-icon-button>

            <div class="devider"></div>

            <paper-icon-button icon="hardware:computer" on-click="_logShapes"></paper-icon-button>
            <!--<button on-click="_logShapes">debug</button>-->
            <paper-icon-button icon="image:crop-3-2" title="add rectangle" on-click="_createRect"></paper-icon-button>

            <!--<button on-click="_createRect">add rect</button>-->
            <paper-icon-button icon="image:panorama-fish-eye" title="add circle"
                               on-click="_createCircle"></paper-icon-button>
            <!--<button on-click="_createCircle">add circle</button>-->
            <paper-icon-button icon="device:signal-cellular-null" title="add polygon"
                               on-click="_createPolygon"></paper-icon-button>
            <!--<button on-click="_createPolygon">add polygon</button>-->
            <paper-icon-button icon="remove-circle-outline" title="remove shape"
                               on-click="_removeShape"></paper-icon-button>
            <!--<button on-click="_removeShape">remove shape</button>-->
        </div>
        <slot></slot>

    </template>
    <script>
        class ExistdbImageAnnotator extends Polymer.Element {
            static get is() {
                return 'existdb-image-annotator';
            }

            static get properties() {
                return {
                    // Image source
                    src: {
                        type: String,
                        observer: '_srcChanged'
                    },
                    // Set to true if you are using a deep zoom image
                    dzi: {
                        type: Boolean,
                        value: false
                    },
                    // Fade in new items added to the viewer
                    fadeIn: {
                        type: Boolean,
                        value: true
                    },
                    // loading
                    loading: {
                        type: Boolean,
                        readonly: true,
                        notify: true
                    },
                    // hides spinner
                    hideSpinner: {
                        type: Boolean,
                        value: false
                    },
                    // loaded
                    loaded: {
                        type: Boolean,
                        readonly: true,
                        notify: true,
                        observer: "_loadedChanged"
                    },
                    // Set to false to prevent the appearance of the default navigation controls. Note that if set to false, the customs buttons set by the options zoomInButton, zoomOutButton etc, are rendered inactive.
                    showNavigationControl: {
                        type: Boolean,
                        value: true
                    },
                    // Set to true to make the navigator minimap appear.
                    showNavigator: {
                        type: Boolean,
                        value: false
                    },
                    // The "zoom distance" per mouse click or touch tap. Note: Setting this to 1.0 effectively disables the click-to-zoom feature (also see gestureSettings[Mouse|Touch|Pen].clickToZoom/dblClickToZoom).
                    zoomPerClick: {
                        type: Number,
                        value: 2.0
                    },
                    // The "zoom distance" per mouse scroll or touch pinch. Note: Setting this to 1.0 effectively disables the mouse-wheel zoom feature (also see gestureSettings[Mouse|Touch|Pen].scrollToZoom}).
                    zoomPerScroll: {
                        type: Number,
                        value: 1.2
                    },
                    // Specifies the animation duration per each OpenSeadragon.Spring which occur when the image is dragged or zoomed.
                    animationTime: {
                        type: Number,
                        value: 1.2
                    },
                    // If true then the 'previous' button will wrap to the last image when viewing the first image and the 'next' button will wrap to the first image when viewing the last image.
                    navPrevNextWrap: {
                        type: Boolean,
                        value: false
                    },
                    // If true then the rotate left/right controls will be displayed as part of the standard controls. This is also subject to the browser support for rotate (e.g. viewer.drawer.canRotate()).
                    showRotationControl: {
                        type: Boolean,
                        value: false
                    },
                    // The minimum percentage ( expressed as a number between 0 and 1 ) of the viewport height or width at which the zoom out will be constrained. Setting it to 0, for example will allow you to zoom out infinity.
                    minZoomImageRatio: {
                        type: Number,
                        value: 1
                    },
                    // The maximum ratio to allow a zoom-in to affect the highest level pixel ratio. This can be set to Infinity to allow 'infinite' zooming into the image though it is less effective visually if the HTML5 Canvas is not availble on the viewing device.
                    maxZoomPixelRatio: {
                        type: Number,
                        value: 1.1
                    },
                    // Constrain during pan
                    constrainDuringPan: {
                        type: Boolean,
                        value: false
                    },
                    // The percentage ( as a number from 0 to 1 ) of the source image which must be kept within the viewport. If the image is dragged beyond that limit, it will 'bounce' back until the minimum visibility ratio is achieved. Setting this to 0 and wrapHorizontal ( or wrapVertical ) to true will provide the effect of an infinitely scrolling viewport.
                    visibilityRatio: {
                        type: Number,
                        value: 1
                    },
                    showZoomControl: {
                        type: Boolean,
                        value: false
                    },
                    showHomeControl: {
                        type: Boolean,
                        value: false
                    },
                    showFullPageControl: {
                        type: Boolean,
                        value: false
                    },
                    preserveViewport: {
                        type: Boolean,
                        value: true
                    },
                    autoHideControls: {
                        type: Boolean,
                        value: true
                    },
                    defaultZoomLevel: {
                        type: Number,
                        value: 0
                    },
                    viewer: {
                        type: Object
                    },
                    zoom: {
                        type: Number
                    },
                    selectedShape: {
                        type: Object
                    },
                    mode:{
                        type: String,
                        value: 'osd' // open seadragon mode
                    }

                };
            }



            connectedCallback() {
                super.connectedCallback();
//                console.log('connected rootpath: ', this.rootPath);
//                console.log('connected importPath: ', this.importPath);
                this.mode = 'osd'; 

                document.addEventListener('WebComponentsReady', function() {
                    console.log('webcomponentsready');
                    // Init openseadragon if we are using a deep zoom image
                    if (this.dzi) {
                        // Add src changed observer
                        this._initOpenSeadragon();
                        this._initFabric();
                    }

                }.bind(this));

                /*
                                this.animationConfig = {
                                    'fade': {
                                        name: 'fade-in-animation',
                                        node: this.$.viewer
                                    }
                                };
                */

            }

            _initFabric() {
                const self = this;
                const options = {
                    annotator:this
                };
//                console.log('fabricOverlay ', this);
//                console.log('fabricOverlay ', this.viewer);

                this._fabricOverlay = this.viewer.fabricjsOverlay(options);
//                console.log('fabricOverlay ', this._fabricOverlay);
//                console.log('_initFabric overlay ', document.getElementById('fabric'));


/*
                this._fabricOverlay.fabricCanvas().on('mouse:up', function(options){
                    console.log('mouse:up ', options);
                    console.log('mouse:up mode', self.mode);
                    if (self.mode === 'osd') return;
                    self._mouseUp(options);

                });
*/
                /*

                                this._fabricOverlay.fabricCanvas().on('mouse:down', function(options){
                                    console.log('mouse:down ', options);
                                    console.log('mouse:down mode', self.mode);

                                    if (self.mode === 'osd') return;
                                    self._mouseDown(options);

                                });
                                this._fabricOverlay.fabricCanvas().on('mouse:move', function(options){

                                    if (self.mode === 'osd') return;
                                    console.log('mouse:move ', options);
                                    console.log('mouse:move mode', self.mode);
                //                    self._mouseDown(options);

                                });
                */


//                this._fabricOverlay.fabricCanvas().on('mouse:up', function(options){
//                    console.log('mouse up options ', options);
//                });
//                this._fabricOverlay.fabricCanvas().on('mouse:move', options => this._mouseMove(options));


                /*
                                var rect = new fabric.Rect({
                                    left: 0,
                                    top: 0,
                                    fill: 'red',
                                    width: 200,
                                    height: 200
                                });

                                this._fabricOverlay.fabricCanvas().add(rect);
                */

                /*
                                const self = this;
                                this.viewer.addHandler('canvas-press', function (event) {
                                    console.log('overlay: ', self._fabricOverlay.fabricCanvas());
                                    new OpenSeadragon.MouseTracker({
                                        element: self._fabricOverlay,
                                        clickHandler: function (event) {
                                            const target = event.originalEvent.target;
                                            console.log('fabric canvas click ', event.originalEvent.target);
                                        }
                                    });
                                });
                */
            }


            // Init openseadragon
            _initOpenSeadragon() {
                console.log('_initOpenSeadragon');
                var tileSources = this.src;
                if (!this.dzi) {
                    tileSources = {
                        type: 'image',
                        url: this.src,
                        buildPyramid: false
                    }
                }


                console.log('showZoomControl ', this.showZoomControl);

                this.viewer = OpenSeadragon({
                    element: this,
                    prefixUrl: "/exist/apps/epco/bower_components/openseadragon/built-openseadragon/openseadragon/images/",
                    visibilityRatio: this.visibilityRatio,
                    constrainDuringPan: this.constrainDuringPan,
                    showNavigationControl: this.showNavigationControl,
                    showNavigator: this.showNavigator,
                    zoomPerClick: this.zoomPerClick,
                    zoomPerScroll: this.zoomPerScroll,
                    animationTime: this.animationTime,
                    navPrevNextWrap: this.navPrevNextWrap,
                    showRotationControl: this.showRotationControl,
                    minZoomImageRatio: this.minZoomImageRatio,
                    maxZoomPixelRatio: this.maxZoomPixelRatio,
                    showZoomControl: this.showZoomControl,
                    showHomeControl: false,
                    showFullPageControl: false,
                    tileSources: tileSources,
                    gestureSettingsMouse: {
                        clickToZoom: true
                    }
                });


                /*
                                     overlays: [{
                                        id: 'c',
                                        x: 0.33,
                                        y: 0.75,
                                        width: 0.2,
                                        height: 0.25,
                                        className: 'highlight'
                                    }]
                */

                const self = this;

//                console.log('viewer ', this.viewer);

                /*
                                this.viewer.addHandler('zoom', function (e) {
                                    self.dispatchEvent(new CustomEvent('zoom', {
                                        detail: {target: self}
                                    }));
                                });
                */

                this.init = true;
            }

            getZoom() {
                return this.viewer.viewport.getZoom(true);
            }

            //Function to destroy the viewer and clean up everything created by OpenSeadragon.
            destroy() {
                this.viewer.destroy();
            }

            getCanvas() {
                return this.querySelector('canvas');
            }

            getPoint() {
                console.log('getPoint ', OpenSeadragon.Point(0, 0));
                return OpenSeadragon.Point(0, 0);
            }

            getScale() {
                return this.viewer.options._scale
            }

            getBounds() {
                this.viewer.getBounds(true);
            }

            // Zoom in
            zoomIn() {
                // TODO: Replace with native openseadragon zoomIn
                var currentZoom = this.viewer.viewport.getZoom();
                var maxZoom = this.viewer.viewport.getMaxZoom();
                var zoomTo = currentZoom + .7;
                if (zoomTo < maxZoom) {
                    this.viewer.viewport.zoomTo(zoomTo);
                }
            }

            // Zoom out
            zoomOut() {
                // TODO: Replace with openseadragon native zoomOut
                var currentZoom = this.viewer.viewport.getZoom();
                var minZoom = this.viewer.viewport.getMinZoom();
                var zoomTo = currentZoom - .7;
                if (zoomTo > minZoom) {
                    this.viewer.viewport.zoomTo(zoomTo);
                } else {
                    if (minZoom != currentZoom) {
                        this.resetZoom();
                    }
                }
            }

            // reset zoom
            resetZoom() {
                this.viewer.viewport.goHome();
            }

            _srcChanged(newVal, oldVal) {
                console.log('_srcChanged');
                if (this.dzi && this.init) {
                    this._addTiledImage();
                }
            }

            // Add loaded images to viewer
            _loadedChanged() {
                if (this.loaded) {
                    if (!this.init) {
                        this._initOpenSeadragon();
                    } else {
                        this._addImage();
                    }
                }
            }

            _addImage() {
                this.viewer.addSimpleImage({url: this.src, index: 0, replace: true});
            }

            _addTiledImage() {
                console.log('_addTiledImage ', this.viewer);
                this.viewer.addTiledImage({tileSource: this.src, index: 0, replace: true});
            }

            /*
                        _attachDom(dom) {
                            this.appendChild(dom);
                        }
            */


            // ###### Fabric
            _mouseDown(options) {
//                console.log('mouseDown', options);
//                console.log('isDown target', options.target);
//                console.log('isDown target.id', options.target.id);
                console.log('>>>>> e ', e);
                console.log('>>>>> mode ', this.mode);
                console.log('>>>>> mode ', this._fabricOverlay);
/*
                console.log('>>>>> mode ', e.position);
                console.log('>>>>> mode ', e.position.x);
                console.log('>>>>> mode ', e.position.y);
*/

                if(this.mode === 'osd') return;

//                var pointer = this._fabricOverlay.getPointer(e.pointer);
//                var pointer = e.pointer;
//                console.log('>>>>> pointer ', pointer);


                if (this.mode == 'rectangle') {
                    var rect = new fabric.Rect({
                        left: e.position.x,
                        top: e.position.y,
                        fill: 'transparent',
                        stroke: 'blue',
                        strokeWidth: 2,
                        hasBorders: false,
                        hasControls: false,
                        opacity: 0.5,
                        data: 'a rectangle'
                    });

                    this._fabricOverlay.fabricCanvas().add(rect);
                    this._fabricOverlay.fabricCanvas().setActiveObject(rect);
                    this._fabricOverlay.fabricCanvas().renderAll();
                    this.activeShape = rect;

                } else if (this.mode == 'circle') {
                    console.log('mode = circle');

                    var circle = new fabric.Circle({
                        left: pointer.x,
                        top: pointer.y,
                        fill: 'transparent',
                        stroke: 'blue',
                        strokeWidth: 2,
                        hasBorders: false,
                        hasControls: false,
                        selectionBackgroundColor: 'transparent'
                    });
                    this.canvas.add(circle);
                    this.canvas.setActiveObject(circle);
                    this.canvas.renderAll();
                    this.activeShape = circle;

                } else if (this.mode == 'polygon') {
                    this.line = null;
                    this.activeLine = null;

                    console.log('pointArray ', this.pointArray);

                    // if the target id is the same as the first one created
                    if (options.target && options.target.id == this.pointArray[0].id) {
                        this._generatePolygon();
                    }
                    if (this.mode == 'polygon') {
                        this._addPoint(options);
                    }


                }
            }

            _mouseUp(options) {
                console.log('mouseUp', options);
//                console.log('mouseUp', e.target);

                if(this.mode === 'osd') return;

                if (this.mode == 'rectangle') {
                    this.activeShape.set('hasBorders', true);
                    this.activeShape.set('hasControls', true);
                    this.activeShape.setCoords();

                } else if (this.mode == 'circle') {
                    this.activeShape.set('hasBorders', true);
                    this.activeShape.set('hasControls', true);
                    this.activeShape.setCoords();
                    this.mode = 'osd';
                }

                this.mode = 'osd';

            }

            _mouseMove(e) {
//                if (!this.isDown) return;
//                console.log('_mouseMove options', options);
//                console.log('isDown ', this.isDown);
//                console.log('mode ', this.mode);
                if(this.mode === 'osd') return;

//                var pointer = this.canvas.getPointer(options.e);
//                    console.log('pointer ', pointer);

                if (this.mode == 'rectangle') {
//                    console.log('mode = rectangle ', this.activeShape);

                    if (this.activeShape) {

//                        console.log('newWidth ',pointer.x - this.activeShape.get('left'));
//                        console.log('newHeight ', pointer.y - this.activeShape.get('top'));

                        this.activeShape.set('width', e.position.x - this.activeShape.get('left'));
                        this.activeShape.set('height', e.position.y - this.activeShape.get('top'));
                        this._fabricOverlay.fabricCanvas().renderAll();
                    }


                } else if (this.mode == 'circle') {

                    if (this.activeShape) {
                        var posX = pointer.x;
                        var posY = pointer.y;
                        this.activeShape.set('radius', Math.abs((posX - this.activeShape.get('left'))));
                        this._fabricOverlay.fabricCanvas().renderAll();

                    }

                } else if (this.mode == 'polygon') {

                    if (this.activeLine && this.activeLine.class == "line") {
                        this.activeLine.set({x2: pointer.x, y2: pointer.y});

                        var points = this.activeShape.get("points");
                        points[this.pointArray.length] = {
                            x: pointer.x,
                            y: pointer.y
                        }
                        this.activeShape.set({
                            points: points
                        });
                        this._fabricOverlay.fabricCanvas().renderAll();
                    }
                    this._fabricOverlay.fabricCanvas().renderAll();

                }

            }

            _removeShape(e) {
                console.log('_removeShape ', e);
                console.log('_removeShape ', this.canvas.getActiveObject());
                this.canvas.remove(this.canvas.getActiveObject());
                this.canvas.renderAll();
            }

            _logShapes(e) {
                console.log('_logShapes ', e);
                console.log('all objects ', this.canvas.getObjects());
                console.log('_logShapes canvas ', this.canvas.toJSON('data'));
            }

            _rectSelected(o) {
                console.log('_rectSelected ', o);
                console.log('_rectSelected canvas ', this.canvas);
                console.log('_rectSelected target', o.target);
                this.selectedShape = o.target;
                console.log('_rectSelected selected', this.canvas.getActiveObject());

            }


            _createRect(e) {
                console.log('_createRect ', e);
                this.activeShape = false;
                this.mode = "rectangle"
            }

            _createCircle() {
                this.activeShape = false;
                this.mode = 'circle';
            }


            _createPolygon() {
                console.log('_createPolygon');
                this.mode = 'polygon';
                this.pointArray = new Array();
                this.lineArray = new Array();
                this.activeShape = false;

            }

            /*
                                    _attachDom(dom) {
                                        this.appendChild(dom);
                                    }
            */

        }

        window.customElements.define(ExistdbImageAnnotator.is, ExistdbImageAnnotator);
    </script>
</dom-module>
