<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="existdb-annotation-item.html">

<dom-module id="existdb-annotation-list">
    <template>
        <style>
            :host {
                display: block;
                @apply(--paper-font-common-base);
                /*border-left:1px solid var(--paper-blue-700);*/

                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.4);

                height: 100%;
                text-align: center;
            }
            h2{
                padding:10px;
                font-weight: 300;
                margin:0;
                font-size:20px;
                background: var(--paper-grey-100);
            }
            .wrapper{
                padding: 10px;
            }
            app-toolbar{
                background: var(--paper-blue-700);
                color:white;
            }

            paper-button{
                margin:10px 0;
                font-size: 12px;
            }
        </style>
<!--
        <app-toolbar>
            <span main-title></span>
            <paper-button>submit</paper-button>
            <paper-icon-button icon='save' on-click='save'>save</paper-icon-button></h2>
        </app-toolbar>
-->
        <paper-button raised on-click="save">submit</paper-button>

<!--
        <template is="dom-repeat" items="{{annotations}}" as="annotation">
            <existdb-annotation-item id="{{annotation.id}}" body="{{annotation.body}}" target="{{annotation.target}}"></existdb-annotation-item>
        </template>
-->

        <existdb-annotation-item id="{{current.id}}" body="{{current.body}}" target="{{current.target}}"></existdb-annotation-item>

    </template>

    <script>
        /**
         * `existdb-annotation-list`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ExistdbAnnotationList extends Polymer.Element {
            static get is() {
                return 'existdb-annotation-list';
            }

            static get properties() {
                return {
                    source: {
                        type: String,
                        value: ''
                    },
                    annotations: {
                        type: Array,
                        value: []
                    },
                    targetToAnnotationMap: {
                        type: Object,
                        value: {}
                    },
                    current:{
                        type: Object,
                        value: _ => {}
                    }
                };
            }

            itemIndexByShapeId (id) {
                const annotationId = this.targetToAnnotationMap[id]
                return this.annotations
                    .map(annotation => annotation.id)
                    .indexOf(annotationId)
            }

            itemByShapeId (id) {
                const annotationId = this.targetToAnnotationMap[id]
                const index = this.annotations
                    .map(annotation => annotation.id)
                    .indexOf(annotationId)
                return this.get(["annotation", index])
            }

            connectedCallback() {
                super.connectedCallback();
                this.load()
                console.log("this.targetToAnnotationMap", this.targetToAnnotationMap)
                console.log("this.annotations", this.annotations)
                console.log("this.test", this.test)
            }

            ready(){
                super.ready();
            }

            handle (e) {
                console.log('annotation-list handle e ',e);
                if (!e.detail.shape || !e.detail.shape.id) {
                    return console.warn('list handler called without a shape')
                }

                const shapeId = e.detail.shape.id
                if (e.type === 'shape-created') {
                    const newAnnotation = this.createAnnotation({
                        id: 's-' + Date.now(),
                        body: [],
                        target: [this.createAnnotationTarget(e.detail.shape)]
                    });

                    this.targetToAnnotationMap[shapeId] = newAnnotation.id;
                    return this.push('annotations', newAnnotation)
                }
                const index = this.itemIndexByShapeId(shapeId);
                if (index < 0) { return }

                const old = this.get(['annotations', index]);
                const targetIndex = old.target.map(shape => shape.id).indexOf(shapeId);

                if (e.type === 'shape-deleted') {
                    // find index of connected entry by e.detail.id
                    this.splice('targetToAnnotationMap', this.targetToAnnotationMap.indexOf(shapeId), 1);
                    return this.splice(['annotations', index, 'target'], targetIndex, 1)
                }

                if (e.type === 'shape-changed') {
                    // find index of connected entry by e.detail.id
                    return this.splice(['annotations', index, 'target'], targetIndex, 1, this.createAnnotationTarget(e.detail.shape))
                }

                if (e.type === 'shape-selected') {
                    const shapeId = this.targetToAnnotationMap.indexOf(shapeId);
                    console.log('changed: shapeId ', shapeId);
                }

                    console.log('annotation-list', 'unhandled', e)
            }

            createAnnotationTarget (shape) {
                return {
                    "id": shape.id,
                    "type": "SpecificResource",
                    "selector": {
                        "type": "SvgSelector",
                        "value": shape.svg
                    },
                    "source": this.sourcefile
                }
            }

            createAnnotation(annotation) {
                const annotationDefaults = {
                    "@context": "http://www.w3.org/ns/anno.jsonld",
                    "type": "Annotation"
                }
                return Object.assign({}, annotation, annotationDefaults)
            }

            addAnnotation(annotation) {
                this.push('annotations', annotation)
                annotation.target.map(target => this.targetToAnnotationMap[target.id] = annotation.id)
            }

            switchColorMode(){
                annotations.forEach(annotation => this._switchColor(annotation))
            }

            _switchColor(annotation){
                console.log("annotation _switchColor ", annotation);
            }

            save() {
                const stringified = JSON.stringify(this.annotations)
                console.log('save', stringified)
                localStorage.setItem('annotations', stringified);
            }

            load() {
                const found = localStorage.getItem('annotations')
                const annotations = JSON.parse(found)
                if (!annotations || !annotations.length) { return console.info('no annotations found') }
                annotations.forEach(annotation => this.addAnnotation(annotation))
                this.dispatchEvent(new CustomEvent('annotations-loaded', {
                   detail: this.get(['annotations'])
                }))
            }
        }

        window.customElements.define(ExistdbAnnotationList.is, ExistdbAnnotationList);
    </script>
</dom-module>
