<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="existdb-annotation-item.html">

<dom-module id="existdb-annotation-list">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        
    </template>

    <script>
        /**
         * `existdb-annotation-list`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ExistdbAnnotationList extends Polymer.Element {
            static get is() {
                return 'existdb-annotation-list';
            }

            static get properties() {
                return {
                    items:{
                        type: Array,
                        value: _ => []
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

        }

        window.customElements.define(ExistdbAnnotationList.is, ExistdbAnnotationList);
    </script>
</dom-module>
