<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/existdb-image-viewer/image-viewer.html">
<link rel="import" href="existdb-fabric-canvas.html">



<dom-module id="image-annotator">
    <template>
        <style>
            :host {
                display: block;
            }

            existdb-fabric-canvas{
                width: 100%;
                height: 100%;
            }
        </style>

        <slot></slot>

    </template>

    <script>
        /**
         * `image-annotator`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ImageAnnotator extends Polymer.Element {
            static get is() {
                return 'image-annotator';
            }

            static get properties() {
                return {
                    prop1:{
                        type: String
                    }
                };
            }

            constructor(){
                super();
                const pathname = window.location.pathname;
                this.basePath = pathname.substring(0,pathname.lastIndexOf('/components'));
            }

            connectedCallback() {
                super.connectedCallback();

                console.log('this.basePath', this.basePath);
                console.log('viewwer', this.querySelector('image-viewer').viewer);

                this.querySelector('image-viewer').src=this.basePath + '/bower_components/img-pan-zoom/demo/images/output.dzi';


                console.log('canvas ', this.querySelector('#c'));

                this.viewer = this.querySelector('image-viewer').viewer;
                this.viewer.addOverlay({element:this.querySelector('#c')});
//                this.$.viewer.src = this.basePath + '/bower_components/img-pan-zoom/demo/images/output.dzi';


                console.log('annotator ', 'connectedCallback');
//                console.log('annotator canvas', this.$.canvas.getCanvas());
            }


        }

        window.customElements.define(ImageAnnotator.is, ImageAnnotator);
    </script>
</dom-module>
